body{
  font: 15px/1.5 'Lato black', Arial, Helvetica, Sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f2f2f7;
}
  /* Global **/
.container{
  width: 100%;
  margin: 20px;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}
.button_1{
  height: 38px;
  background: #3634a3;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #f2f2f7;
}
.dark{
  padding: 15;
  background: #5856d6;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

aside img:hover{
  scale: 1.3;  
}

aside img{
width: 30px;
height: 30px;
}

 #showcase aside {
    display: flex;
    margin: 30px;
    flex-direction: column;
    position: absolute;
    align-items: center;
    right: 20px;
    gap: 60px;
 }

 .d-block w-100 {
  position: center;
 }


  /* Header **/
  /* COR DO HEADER - LILÁS / AZULADO #635B95 */ 
header{
  background: #635B95;
  color: #f2f2f7;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #f2f2f7 3px solid;
}
header a{
  color: #f2f2f7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header  li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header#branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}
  /* COR DO HEADER HIGHLIGHT - ROSA #FE0757 */ 
header .highliht, header .current a{
  color: #FE0757;
  font-weight: bold;
  margin: auto;
}
header a: hover{
  color: #cccccc;
  font-weight: bold;
}
  /* Showcase */
#showcase{
  min-height: 400px;
  text-align: center;
  color: #3634a3;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}

/* Carrossel */
 .foto-produtos {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  margin: 0 ;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 800px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -250px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #FFF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .05s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #fff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
#radio3:checked ~ .first{
  margin-left: -50%;
}
#radio4:checked ~ .first{
  margin-left: -75%;
}
#radio5:checked ~ .first{
  margin-left: -100%;
}
#radio6:checked ~ .first{
  margin-left: -125%;
}
#radio7:checked ~ .first{
  margin-left: -150%;
}
#radio8:checked ~ .first{
  margin-left: -175%;
}
#radio9:checked ~ .first{
  margin-left: -200%;
}

.navigation-auto div{
  border: 2px solid#20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 550px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #fff;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
  background-color: #fff;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
  background-color: #fff;
}
#radio7:checked ~ .navigation-auto .auto-btn7{
  background-color: #fff;
}
#radio8:checked ~ .navigation-auto .auto-btn8{
  background-color: #fff;
}
#radio9:checked ~ .navigation-auto .auto-btn9{
  background-color: #fff;
}


/*Anúncios*/
.anuncio div {
  font-family: Arial, sans-serif;
  margin: 160px 160px;
}

.anuncio form {
  margin-top: 20px;
}

.anuncio input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.anuncio button {
  background-color:  #A993B9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.anuncio button:hover {
  opacity: 0.5;
}

/*Fim Anúncios*/


/* newsletter */
  /* COR DO HEADER - LILÁS / ROSEADO #A993B9 */ 
#newsletter{
  padding: 15px;
  color: #f2f2f7;
  background: #A993B9;
}
#newsletter h1{
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 15px;
}
#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
/* Boxes */
#boxes{
  margin-top: 20px;
}
#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes .box img{
  width: 90;
}
/* Sidebar */
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}
aside #sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5%;
}
/* Main-col */
article#main-col{
    float: left;
    width: 65%;
  }
/* Servicos */
  ul#servicos li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
  }
/* COR DO HEADER - LILÁS / ROSEADO #A993B9 */ 
footer{
  padding: 20px;
  margin-top: 20px;
  color: #f2f2f7;
  background-color: #A993B9;
  text-align: center;
}
/* Media Queries */
@media(max-width: 990px){
  #showcase aside{
    position: absolute;
    height: 80px;
    flex-direction: row;
    left: 315px;
    top: 440px;
}
}
@media(max-width: 828px){
  #showcase aside{
    position: absolute;
    height: 80px;
    flex-direction: row;
    left: 260px;
    top: 440px;
}
}
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
    }
    header{
      padding: 20px;
    }
    #showcase h1{
      margin-top: 40px;
    }
    #newsletter button, .quote button{
      display: block;
      width: 100%;
    }
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width: 100%;
      margin-bottom: 5px;
    }
  }
